{% extends "account/base_signup_login.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}
{% block form_space %}
<div class="p-2 bg-white form-card text-center">

<h1 class="pp-color-bold text-capitalize"> Confirm Email Address</h1>
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            {% element p %}
                {% blocktrans with confirmation.email_address.email as email %}Please confirm that this email address <a href="mailto:{{ email }}">{{ email }}</a> 
belongs to  you.{% endblocktrans %}
            {% endelement %}
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
                {% slot actions %}
                    {% csrf_token %}
                    {{ redirect_field }}

                    <button type="submit" class="submit-btn">Confirm</button>
                 
                {% endslot %}
            {% endelement %}
        {% else %}
            {% element p %}
                {% blocktrans %}Unable to confirm {{ email }} because it is already registered by a different account.{% endblocktrans %}
            {% endelement %}
        {% endif %}
    {% else %}
        {% url 'account_email' as email_url %}
        {% element p %}
            {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
        {% endelement %}
    {% endif %}
</div>
  
{% endblock form_space %}
