{% extends "account/base.html" %}
 {% block main %}



 <div class="dropup">
    <a
        class=" dropdown-toggle"
        type="button"
        id="triggerId"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        Dropup
 </a>
    <div style="background-color: var(--pp);" class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Disabled action</a>
        
       
    </div>
</div>

<!-- Modal trigger button -->
<a
    class="btn"
    data-bs-toggle="modal"
    data-bs-target="#settings"
>
    Settings
</a>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
    class="modal fade"
    id="settings"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered "
       
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    settings
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">Body</div>
            
           
        </div>
    </div>
</div>

<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
    );
</script>

 
{% endblock main %}