{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% load allauth i18n %}

{% block title %}
   Change Password 
{% endblock title %}

{% block main %}
<div class="bg-white rounded p-2">
<h1 class="pp-color-bold">
        Change Password
    </h1>
    {% url 'account_change_password' as action_url %}
    {% comment %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
    {% endelement %}
    {% endcomment %}
    <form class="acc-class" action="{% url 'account_change_password' %}" method="post">
        {{ form|crispy }}
        <button class="submit-btn">Change</button>
    </form>
</div>
    
{% endblock %}
